<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--<connectionStrings>
		<add name="vaccinationdatabase" connectionString="Data Source=./SQLEXPRESS;AttachDbFilename=D:\.net\ChildVaccination\App_Data\child.mdf;Integrated Security=True; User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
  <appSettings>
    <add key="SiteURL" value="http://localhost:1057/" />
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="portnumber" value="587"/>
    <add key="username" value="mmetaliya@sigmasolve.net"/>
    <add key="password" value="23"/>
    <add key="IsSSL" value="true"/>
  </appSettings>
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
